body {
    background-image: linear-gradient(to bottom, #c362e1, #b470eb, #a47cf3, #9487f9, #8490fc, #619fff, #3dadff, #18b8ff, #00cbff, #00dcff, #26ecf9, #5ffbf1);
}

:root {
    --red_title: #f22;
    --white_title: #f3f7f9;
    --black: #000;
    --white: #ffffff;
    --pink: #f589de;
}

.title__contain {
    perspective: 500px;
    overflow: hidden;
    text-align: center;
}

.title__main {
    font: italic 4.3em title_miami, sans-serif;
    background: -webkit-linear-gradient(var(--red_title), var(--white_title));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: float 9s linear infinite;
}

@keyframes float {
	0% {
        transform: rotateY(0deg) translateX(0px) translateY(0px) skewY(0deg);
    }
    25% {
        transform: rotateY(-5deg) translateX(5px) translateY(-3px) skewY(-3deg);
    }
	50% {
        transform: rotateY(0deg) translateX(0px) translateY(0px) skewY(0deg);
    }
    75% {
        transform: rotateY(-5deg) translateX(-5px) translateY(3px) skewY(3deg);
    }
	100% {
        transform: rotateY(0deg) translateX(0px) translateY(0px) skewY(0deg);
	}
}

/* Boutton New game */

.miami__start {
    margin-top: 100px;
}

.miami__start, .miami__return {
    display: flex;
    align-items: center;
    justify-content: center;
}

.miami__return {
    margin-top: 30px;
}

.miami__players {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
}

.miami__onePlayer {
    margin-bottom: 25px;
}

.button__miami {
    font: 1.1em text_miami, sans-serif;
    width: 30%;
    padding: 9px;
    border-radius: 7px;
    text-shadow: 0.2em 0.1em 0 rgba(222, 99, 232, 0.7);
    cursor: pointer;
    border: 3px solid var(--white);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.button__miami:hover {
    border: 3px solid var(--pink);
}

@-webkit-keyframes pulse {to {text-shadow: 0 0 0 rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {text-shadow: 0 0 0 rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {text-shadow: 0 0 0 rgba(232, 76, 61, 0);}}
@keyframes pulse {to {text-shadow: 0 0 0 rgba(232, 76, 61, 0);}}

/* Conteneur des personnages + personnage */

.character__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character__contain {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: none;
    cursor: pointer;
}

.character__contain:not(:last-child) {
    margin-right: 30px;
}

.character__contain:hover {
    border: 3px solid var(--pink);
}

#billy {
    background-image: url("images/billy.png");
}
#george {
    background-image: url("images/george.png");
}
#clay {
    background-image: url("images/clay.png");
}

/* Conteneur écran jeux */

.game__container {
    
}

.game__contain {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: var(--black);
}

/* CLASSE FOR JS */

.js-hidden {
    display: none;
}

@font-face {
    font-family: 'title_miami';
    src: url('fonts/Retrochips.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'text_miami';
    src: url('fonts/Fipps-Regular.otf');
    font-weight: normal;
    font-style: normal;
  }